/* /*-------------
 google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 
 /* body{
    background-color:;
 } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

/*----------------
 container starts here
 ------------------------ */
 .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
 }
 .card{
    width: 85%;
    height: 90vh;
    display: flex;
    border-radius: 20px;
    background-color: black;
 }
 .left-side{
    color: white;
    width: 50%;
    margin-top: 9%;
    padding-left: 7%;
 }
 .left-side h2{
    font-size: 52px;
    font-weight: 700;
    width: 400px;
    height: 230px;
    line-height: 70px;
 }
 .left-side p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 26px;
    width: 450px;
    height: 80px;
 }
 .btn{
    display: inline-block;
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    padding: 14px 30px;
    border-radius: 5px;

 }
 .btn i{
    color: white;
    position: relative;
    color: white;
    position: relative;
    left: 6px;
    top: 1px;
    transition: left 0.5s;
 }
 .btn:hover i{
    left: 12px;
 }
 .right-side{
    width: 50%;
    padding-top: 2%;
 }
 .right-side img{
    width: 520px;
    height: 560px;
 }
 /* second section starts here 
 --------------------------------*/
 .second-section{
   width: 85% ;
   display: flex;
   margin: 0 auto;
   margin-bottom: 100px;
 }
 .mini-box{
   width: 312px;
   height: 250px;
   background-color: black;
   border-radius: 10px;
   margin-right: 30px;

 }.mini-box ul {
   width: 250px;
   margin: 0 auto;
 }

 .mini-box ul li{
   text-align: center;
   width: 250px;
   list-style: none;
 }
 .mini-box a{
   display: inline-block;
   text-decoration: none;
   color: black;
   font-size: 20px;
   font-weight: 500;
   padding: 12px 30px;
   border-radius: 10px;
   margin-top: 20px;
   width: 95%;
   text-align: center;
   background-color: white;
 }
 .mini-box li .active{
   background-color: #DD0000;
   color: white;
 }
 .blogs-grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 10px 20px;
 }
 .blog{
   width: 265px;
   height: 210px;
 }
 .flag-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  .blog .flag-flex p{
  font-size: 18px;
  font-weight: 700;
  color: black;
  padding-top: 5px;
 }
 .blog img{
   width:38%;
 }
 .blog h3{
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   width: 100px;
   margin: 8px 0;
   border: 1px solid;
   border-radius: 5px;
   text-align: center;
 }
 .blog h4{
   font-size: 18px;
   font-weight: 600;
   width: 270px;
   text-align: center;
   margin-top: 25px;
   margin-bottom: 10px;
 }
 .blog p{
      font-size: 14px;
      font-weight: 400;
      color: #161616B2;
      text-align: center;
 }
 /* only for tablet button */
 .btn-2{
  display:none;
  justify-content: center;
  margin: 50px auto;
  
 }
 .btn-2 a{
    display: inline-block;
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    padding: 14px 33px;
 }

 /* footer section */
 footer{
  width: 100%;
  height: 60vh;
  background-color: #161616;
  color: white;
 }
 footer h2{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  padding: 60px 0;
 }
 hr{
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 80%;
  margin: 0 auto;
 }
 .d-flex, .social-link{
  display: flex;
  justify-content: center;
  margin-top: 40px;
 }
 .d-flex p{
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #B9B9B9;
 }
 .social-link a{
  color: #B9B9B9;
  font-size: 18px;
  margin-right: 20px;
  transition:color 0.5s;
 }
 .social-link a:hover{
  color: #DD0000;
 } 

 /* ----------
 mobile responsive using media query */
 @media  screen and (max-width:480px){

   .container{
     margin-bottom: 30px;
   }
   .card{
     flex-direction: column;
     height: 100%;
     
   }
   .left-side{
     width: 92%;
     height: 40%;
     margin: 20px auto;
     margin-top: 30px;
 
   }
   
   .left-side h2{
     font-size: 23px;
     width: 225px;
     height:80px;
     text-align: center;
     line-height: 35px;
     margin-left: 10%;
    
   }
   .left-side p{
     width: 300px;
     text-align: center;
     overflow: hidden;
 }
 .btn{
   padding:8px 18px ;
   width: 150px;
   margin-left: 20%;
 }
 .right-side{
   width: 90%;
   height: 55%;
    padding-top: 9%;
    margin-left: 16%;
 }
 .right-side img{
   width: 80%;
   height: 270px;
 }
 /* container ends here  */
 
 /* second section starts here */
 
 .second-section{
   flex-direction: column;
 }
 .mini-box{
   width:330px;
   margin: 0 auto;
   margin-bottom: 40px;
   background-color: white;
 
 }
 .blogs-grid{
   grid-template-columns: repeat(1,1fr);
 }
 .blog{
   width: 100%;
   height: 260px;
 }
 .blog h4{
   margin: 15px auto;
 }
 .blog img{
   margin-bottom: 15px;
 }
 footer{
   width: 100%;
   height: 100%;
 }
 footer h2{
   padding: 20px 0;
 }
 .d-flex{
   flex-direction: column;
   align-items: center;
 }
 .d-flex p{
   margin-right: 0;
   margin-bottom: 22px;
 }
 .social-link {
   margin-top: 0;
   padding: 20px 0;
 }
   }

 /* responsive for tablet using media */

 @media only screen and (min-width:481px) and (max-width:768px) {

   /* container start */
   .container{
     width: 100%;
     margin-bottom: 40px;
   }
   .card{
     width: 90%;
   }
   .left-side{
     width: 50%;
     margin-top: 17%;
   }
   .left-side h2{
     font-size: 35px;
     width: 230px;
     height: 160px;
     line-height: 50px;
   }
   .left-side p{
     width: 310px;
     height: 55px;
     overflow: hidden;
 
   }
   .right-side{
     width: 50%;
     padding-top: 10%;
     margin-left: 4%;
   }
   .right-side img{
     width: 100%;
     height: 460px;
   }
   .btn{
     padding: 12px 28px;
   }
   /* container ends here */

  /*------------
   second section start */

   .second-section{
      flex-direction: column;
      width: 100%;
     }
     .mini-box{
      background-color: white;
      border-radius: 0;
      margin-right: 0;
      width: 96%;
      height: 100px;
      margin-bottom: 30px;
     }
     .mini-box ul{
      display: flex;
      width: 100%;
     }
     .mini-box ul li a{
      padding: 12px 10px;
     }
     .blogs-grid{
      grid-template-columns: repeat(2,1fr);
      grid-gap: 30px 0;
     }
     .blog{
      width: 84%;
      margin: 0 auto;
     }
     .btn-2{
      display: flex;
      margin: 50px auto;
  
     }
     /* footer start here */
     footer{
      width: 100%;
     }
     footer h3{
      padding: 50px 0;
     }
    .d-flex{
      flex-wrap: wrap;
    }
  
}